.swiper-pagination-bullet {
  // position: relative;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  color: white;
  opacity: 1;
  border-radius: 0%;
  margin: 32px;
}

.swiper-pagination-bullet-active {
  border-radius: 100px;
  color: #1B67AE;
  background: #E4EEFA;
}

.swiper-pagination {
  position: static;
  margin-top: 32px;

  @media (min-width: 992px) {
    margin-top: 60px;
  }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 16px);
}

.card-custom {
  height: 186px;

  @media (min-width: 992px) {
    height: 320px;
    width: 234px;
  }

  @media (min-width: 1200px) {
    height: 300px;
    width: 306px;
  }

  @media (min-width: 1400px) {
    height: 272px;
  }
}


.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;

  @media (min-width: 992px) {
    margin-top: 60px;
  }
}

.pagination-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button img {
  width: 24px;
  /* 調整箭頭大小 */
  height: 24px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.pagination-button.disabled img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(3%) saturate(12%) hue-rotate(9deg) brightness(94%) contrast(82%);
  opacity: 1;
  cursor: default;
}

.pagination-bullet {
  font-size: 20px;
  line-height: 24px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-bullet.active {
  background: #E4EEFA;
  width: 32px;
  height: 32px;
  color: #1B67AE;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-ellipsis {
  display: flex;
  gap: 3px;
  align-items: flex-end;
  justify-content: center;
  color: white;
  height: 20px;
}

.dot {
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  margin: 0 2px;
}