// Header - Hailey
.slideshow-container {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
}

/* 動畫效果 */
.slideshow-image-enter-0 {
  opacity: 0;
  transform: scale(1.1) translateX(-5%);
}

.slideshow-image-enter-active-0 {
  opacity: 1;
  transform: scale(1.1) translateX(0);
  transition: opacity 2.5s ease-in-out, transform 2.5s linear;
}

.slideshow-image-exit-0 {
  opacity: 1;
  transform: scale(1.1) translateX(0);
}

.slideshow-image-exit-active-0 {
  opacity: 0;
  transform: scale(1.1) translateX(5%);
  transition: opacity 2.5s ease-in-out, transform 2.5s linear;
}

/* 第二張圖片動畫：淡入並往上移動 */
.slideshow-image-enter-1 {
  opacity: 0;
  transform: scale(1.1) translateY(5%);
}

.slideshow-image-enter-active-1 {
  opacity: 1;
  transform: scale(1.1) translateY(0);
  transition: opacity 2.5s ease-in-out, transform 2.5s linear;
}

.slideshow-image-exit-1 {
  opacity: 1;
  transform: scale(1.1) translateY(0);
}

.slideshow-image-exit-active-1 {
  opacity: 0;
  transform: scale(1.1) translateY(-5%);
  transition: opacity 2.5s ease-in-out, transform 2.5s linear;
}

/* 第三張圖片動畫：淡入並往左移動 */
.slideshow-image-enter-2 {
  opacity: 0;
  transform: scale(1.1) translateX(5%);
}

.slideshow-image-enter-active-2 {
  opacity: 1;
  transform: scale(1.1) translateX(0);
  transition: opacity 2.5s ease-in-out, transform 2.5s linear;
}

.slideshow-image-exit-2 {
  opacity: 1;
  transform: scale(1.1) translateX(0);
}

.slideshow-image-exit-active-2 {
  opacity: 0;
  transform: scale(1.1) translateX(-5%);
  transition: opacity 2.5s ease-in-out, transform 2.5s linear;
}

/* 第四張圖片動畫：淡入並放大 */
.slideshow-image-enter-3 {
  opacity: 0;
  transform: scale(0.9);
}

.slideshow-image-enter-active-3 {
  opacity: 1;
  transform: scale(1.1);
  transition: opacity 2.5s ease-in-out, transform 2.5s linear;
}

.slideshow-image-exit-3 {
  opacity: 1;
  transform: scale(1);
}

.slideshow-image-exit-active-3 {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 2.5s ease-in-out, transform 2.5s linear;
}

.slideshow-image-appear-0 {
  /* 第一張圖片的 appear 效果 */
  opacity: 0;
  transform: scale(1.1) translateX(-5%);
}

.slideshow-image-appear-active-0 {
  opacity: 1;
  transform: scale(1.1) translateX(0);
  transition: opacity 2.5s ease-in-out, transform 2.5s linear;
}

// 精選行程 - 倫倫
.featuredTitleIcon {
  width: 48px;
  height: 48px;
}

.featuredImgWrap {
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  width: 100%;
  height: 100%;
}

.featuredImg {
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.5);
  }
}

.featuredLeftFlex {
  flex: 43;
  height: 360px;
}

.featuredRightFlex {
  flex: 57;
}

.featuredCardTitle {
  font-size: 32px;
}

.featuredCardDescription {
  font-size: 16px;
}

.featuredDiscountPrice {
  font-size: 24px;
}

@media screen and (max-width: 1399px) {
  // 精選行程 - 倫倫
  .featuredLeftFlex {
    flex: 50;
  }

  .featuredRightFlex {
    flex: 50;
  }

  .featuredCardTitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 1199px) {
  // 精選行程 - 倫倫
  .featuredLeftFlex {
    flex: 55;
  }

  .featuredRightFlex {
    flex: 45;
  }

  .featuredCardTitle {
    font-size: 20px;
  }

  .featuredDiscountPrice {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  // 精選行程 - 倫倫
  .featuredTitleIcon {
    width: 24px;
    height: 24px;
  }

  .featuredCardTitle {
    font-size: 18px;
  }

  .featuredCardDescription {
    font-size: 14px;
  }
}
// ↓ Hailey

.buttonShadow:hover {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: -1;
  }
}

.buttonShadowDesktop:hover {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 320px 320px 0 0;
    z-index: -1;
  }
}
