.navbar{
    background-color: transparent;
    @include media-breakpoint-up(lg) {
        background: #fff;
    }
}
.navbarPadding{
  padding-top: 22px;
  padding-bottom: 22px;
  @include media-breakpoint-up(lg) {
      padding-top: 27px;
      padding-bottom: 27px;
  }
}
.opacity-85 {
  background-color: rgba(255, 255, 255, 0.85);
}
.backdrop-blur {
  backdrop-filter: blur(10px);
}
.bg-F2F7FD {
  background: #F2F7FD !important;
}
// 【行旅之境 logo】
.navbar-brand {
  padding: 0px !important;
  .log-style {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }
  .logo-size-l {
    width: 216px;
    height: 48px;
    background-image: url("/public/images/logo-dark-L.svg");
  }
  .logo-size-s {
    width: 88px;
    height: 20px;
  }
  .logo-sm-light {
    background-image: url("/public/images/logo-light-S.svg");
  }
  .logo-sm-dark {
    background-image: url("/public/images/logo-dark-S.svg");
  }
}
.navbar-title {
  font-size: 16px;
  margin-left: 4px !important;
  @include media-breakpoint-up(lg) {
      font-size: 40px !important;
      margin-left: 8px !important;
  }
}

// 選項
.nav-link {
  color: #1C1C1C;
  font-size: 18px;
  padding: 12px;
  @include media-breakpoint-up(lg) {
      font-size: 16px;
      padding: 15px 12px;
  }
}
.nav-item-br{
  width: 100px;
  height: 1px;
  margin: 32px 0px;
  background-color: #C2DCF5;
  @include media-breakpoint-up(lg) {
      display:none;
  }
}

// 登出按鈕
.logout-btn{
  margin-top: 24px;
  margin-bottom: 56px;
  padding: 12px 16px;
}
// 登入按鈕
.login-btn-margin{
  margin-top: 275px;
  margin-bottom: 56px;
  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}
.login-btn{
  padding-left: 16px !important;
  padding-right: 16px !important;
  @include media-breakpoint-up(lg) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.cart-lg-margin {
  margin-left: 100px !important;
  margin-right: 32px !important;
  i {
    line-height: 0;
  }
}
// 使用者按鈕
.mobile-user-btn {
  margin-top: 203px;
}
.user-btn {
  .btn {
    border-radius: 40px;
    color: #1B67AE;
  }
  .btn-primary-50:hover {
    background-color: #0056b3 !important;
    /* 你想要的 hover 背景色 */
    color: white;
  }
  .dropdown-hr {
    width: 140px;
    border: 1px solid #C3C3C3;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .dropdown-item {
    padding: 12px 38px;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-menu {
    padding: 12px 24px;
    margin-left: -72px !important;
  }
}
// 漢堡選單icon
.hamburg-icon {
  font-size: 24px !important;
}
.navbar-toggler {
  padding: 0px !important;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}