.travelGuide{
    .header-height {
        height: 211px;
        @media (min-width: 991px) {
            height: 398px;
        }
    }
    .header-bg {
        background: url("https://s3-alpha-sig.figma.com/img/42b6/889b/75aeae951a56137c68bbdc7d0fb41f83?Expires=1739750400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=A24cFv3gJp2VRmQnc5H8eB6-ybItukStcJDnqJ411CHwVZoTWdT8~M3xG-KGBxfGCXBGRHzItyuJgDlfpB8oxHY15Pph8vYBopdyHdm5-y0ubZuQvGaCp-bnO2LfQ4vK~OBHx-gvbBMTgK5skGMmD0TYfZekvvbvo6jklPCriXjYG-U5c62CndexD7edAIJr~lDhR0xgHUxI~2hisCK79NM7OKE79vL4ORnjySLq8KXEelXscHcts0L3RPDjDT6YJO5DMg3gqLt5ML9-bKu8X6U7mgpVQxVTJ-UtmRV21JcZg4~bLAyt2G15Kco3gyLEwvdO~6OLF86Y~nJHgi2kJw__")
            no-repeat center center / cover;
    } 
    // 下拉選單
    .form-select {
        font-size: 12px;
        line-height: 14.4px;
        color: #808080;
        margin-left: 106px;
        width: 141px;
        height: 28px;
        padding: 7px 0px 7px 13px;
        @media (min-width: 991px) {
            font-size: 24px;
            line-height: 28.8px;
            margin-left: 180px;
            width: 360px;
            height: 43px;
        }
    }
    // 卡片圖片設定 ↓
    .image-container {
        border-radius: 60px 60px 0px 60px;
        width: 100%;
        height: 351px;
        overflow: hidden;  // 確保圖片放大時不會溢出容器
        position: relative;  // 確保圖片在容器內定位正確
        z-index: 1;  // 確保圖片的層級高於其他元素
        @media (min-width: 991px) {
            height: 294px;
        }
        .image-main {
            border-radius: 60px 60px 0px 60px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
            &:hover {
                transform: scale(1.5);  // 可以稍微減少放大比例
            }
        }
    }
}