.travelSpotsBanner {
  // margin-top: 108px;
  width: 100%;
  background-size: cover;
  aspect-ratio: 3 / 1;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.travelSpotsBannerText {
  text-shadow: 0px 0px 10px #174675;
  font-size: 40px;
}

.travelSpotsBannerBackDrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c1c1c4c;
}

.travelSpotsSelectWrapPosition {
  position: absolute;
  width: 100%;

  z-index: 100;
  transform: translateY(-50%);
}

.productListTranslate {
  padding-top: 100px;

  div.col:nth-child(1) {
    margin-top: 0;
  }

  div.col:nth-child(2) {
    margin-top: 0;
  }

  div.col:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 32px;
  }
}

.travelSpotsSelectWrap {
  background-color: #3d3d3d66;
  backdrop-filter: blur(80px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid white;
  border-radius: 100px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.travelSpotsSelectbutton {
  display: block;
  line-height: 1.2;
  border-radius: 100px;
  text-align: center;
  font-size: 32px;
  transition: all 0.3s ease;
  &:hover {
    background: #1b67ae;
  }
}

.travelSpotsSelectbuttonWrap {
  flex: 1;
}

.productListImgWrap {
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  width: 100%;
  height: 294px;
}

.productListImg {
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.5);
  }
}

.travelSpotCardTitle {
  font-size: 32px;
}

.travelSpotCardDescription {
  font-size: 16px;
}

.travelSpotCardDiscountPrice {
  font-size: 24px;
}

.leftArrow {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 32px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 2px solid #3d3d3d;
    border-left: 2px solid #3d3d3d;
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    cursor: pointer;
    border-color: #c2dcf5; /* 例如改為番茄紅 */
  }

  &:active::before,
  &:active::after {
    border-color: #509fe0; /* 點擊時改為紅色 */
  }

  &::before {
    left: 4px;
    top: 12px;
  }

  &::after {
    left: 12px;
    top: 12px;
  }

  &.disabled {
    pointer-events: none; /* 禁止偽元素的點擊事件 */

    &::before,
    &::after {
      border-top: 2px solid #878787;
      border-left: 2px solid #878787;
    }
  }
}

.rightArrow {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 32px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid #3d3d3d;
    border-bottom: 2px solid #3d3d3d;
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    cursor: pointer;
    border-color: #c2dcf5; /* 例如改為番茄紅 */
  }

  &:active::before,
  &:active::after {
    border-color: #509fe0; /* 點擊時改為紅色 */
  }

  &::before {
    left: 4px;
    top: 12px;
  }

  &::after {
    left: 12px;
    top: 12px;
  }

  &.disabled {
    pointer-events: none; /* 禁止偽元素的點擊事件 */

    &::before,
    &::after {
      border-right: 2px solid #878787;
      border-bottom: 2px solid #878787;
    }
  }
}

.cusDotStylePagination.dotDisplayNone {
  display: none;
}

.paginationNumbersMargin {
  margin-left: 32px;
}

.rightDotStyleMargin {
  position: relative;
  margin-right: 64px;

  &::after {
    content: "..."; /* 加上省略號 */
    position: absolute;
    bottom: 3px;
    right: -58px;
    font-size: 20px;
    color: #3d3d3d;
    line-height: 1.2;
    font-weight: 700;
  }
}

.leftDotStyleMargin {
  position: relative;
  margin-left: 96px;

  &::after {
    content: "..."; /* 加上省略號 */
    position: absolute;
    bottom: 3px;
    left: -58px;
    font-size: 20px;
    color: #3d3d3d;
    line-height: 1.2;
    font-weight: 700;
  }
}

.paginationNumbers {
  color: #3d3d3d;

  &:hover {
    background-color: #e4eefa;
    color: #1b67ae;
  }
}

.paginationStyle {
  padding: 4px 10px;
  // font-size: 20px;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 100px;
  cursor: pointer;
  display: block;
}

.cusDotStylePagination.paginationActive {
  display: block;

  & > a {
    background-color: #e4eefa;
    color: #1b67ae;
  }
}

@media screen and (max-width: 1399px) {
  .travelSpotCardTitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .travelSpotsSelectbutton {
    font-size: 28px;
  }

  .travelSpotCardTitle {
    font-size: 20px;
  }

  .travelSpotCardDiscountPrice {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  // .travelSpotsBanner {
  //   margin-top: 80px;
  // }

  .productListTranslate {
    padding-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .travelSpotsSelectbutton {
    font-size: 24px;
  }

  .travelSpotsBannerText {
    font-size: 32px;
  }

  .productListTranslate {
    padding-top: 60px;
  }
}

@media screen and (max-width: 575px) {
  .travelSpotsSelectbutton {
    font-size: 20px;
  }

  .travelSpotsBannerText {
    font-size: 24px;
  }

  .travelSpotCardTitle {
    font-size: 18px;
  }

  .travelSpotCardDescription {
    font-size: 14px;
  }

  .travelSpotsSelectWrapPosition {
    transform: translateY(0);
    position: fixed;
    bottom: 32px;
  }

  .productListTranslate {
    padding-top: 0px;
    margin-top: -32px;
    padding-bottom: 32px;

    div.col:nth-child(2) {
      margin-top: 32px;
    }
  }
}

@media screen and (max-width: 374px) {
  .travelSpotsSelectbutton {
    font-size: 18px;
  }

  .travelSpotsBannerText {
    font-size: 18px;
  }
}
