.navbar{
    background-color: transparent;
    @media (min-width: 992px) {
        background: #fff;
    }
}
.navbarPadding{
    padding-top: 22px;
    padding-bottom: 22px;
    @media (min-width: 992px) {
        padding-top: 27px;
        padding-bottom: 27px;
    }
}

// 【行旅之境】
.navbar-brand{
    padding: 0px !important;
}
.navbar-title {
    font-size: 16px;
    margin-left: 4px !important;
    @media (min-width: 992px) {
        font-size: 40px !important;
        margin-left: 8px !important;
    }
}

// 選項
.nav-link {
    color: #1C1C1C;
    font-size: 18px;
    padding: 12px;
    @media (min-width: 992px) {
        font-size: 16px;
        padding: 15px 12px;
    }
}
.nav-item-br{
    width: 100px;
    height: 1px;
    margin: 32px 0px;
    background-color: #C2DCF5;
    @media (min-width: 992px) {
        display:none;
    }
}

// 登入按鈕
.login-btn-margin{
    margin-top: 275px;
    margin-bottom: 56px;
    @media (min-width: 992px) {
        margin: 0px;
    }
}
.login-btn{
    font-size: 16px;
    padding-left: 16px !important;
    padding-right: 16px !important;
    @media (min-width: 992px) {
        font-size: 20px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

// 購物車icon
.color-3D3D3D{
    color: #3D3D3D
}
.cart-lg-icon{
    font-size: 24px;
    margin-left: 100px !important;
    margin-right: 32px !important;
    i{
        line-height: 0;
    }
}
.cart-sm-icon{
    font-size: 24px;
}

// 漢堡選單icon
.hamburg-icon{
    font-size: 24px !important;
}
.navbar-toggler{
    padding: 0px !important;
    &:focus{
        outline: none;
        box-shadow: none; 
    }
}