.gradient-blue {
    background: $gradient-blue;
    -webkit-background-clip: text;
    /* 僅裁剪背景 */
    -webkit-text-fill-color: transparent;
    /* 將文字填充設為透明 */
}

.gradient-brown {
    background: $gradient-brown
}

.btn-primary-600 {
    &:active {
        background: $primary-400 !important;
        border: 1px solid $primary-400 !important;
    }

    &:hover {
        background: $primary-500;
        border: 1px solid $primary-500;
    }
}

.shadow-banner-text {
    box-shadow: 0px 0px 10px 0px #174675;
}

.page-link{
    line-height: 1.2;
    font-weight: 700;
    border-radius: 100px;
}

.card-custom{
    backdrop-filter: blur(10px); 
    background: #FFFFFFCC;
    box-shadow: 0px 4px 8px 0px #FFFFFF40; 
    border: 1px solid #FFFFFF
}